@media (max-width:1024px){
   
    .contenedor{        
     padding: 0 50px 0 50px;     
    } 

}

@media (max-width:768px){
   
    body, html {
        overflow-x: hidden; 
    }

    .contenedor {
        padding: 0 50px; 
    }

    .header {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%;
    }

    .a-img {
        margin-bottom: 10px; 
    }

    nav {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%;
    }

    .home, .proyectos {
        display: none; 
    }

    .img-header-social {
        display: none; 
    }

    .contenedor-hero {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .hero-content {
        margin-left: 0; 
        transform: translateY(-10%);
        text-align: center; 

    .h1-hero {
        font-size: 40px; 
        margin: 0;
    }

    .h2-hero {
        font-size: 30px; 
        font-weight: lighter;
        margin: 10px 0;
    }

    .button-contactame {
        margin-top: 20px; 
        transform: translateY(100%);
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .container-about{
        margin: 0; 
        display: flex;
        flex-direction: column;
        width: 100%;

        .container-h2{
            margin-right: 80px;
            text-align: center;
            justify-content: flex-end;
            width: 100%;
        }

        .container-p-button{
            margin: 0; 
            justify-content: center;
            text-align: center;
            width: 100%;
        }

        .buttonDescargar{
            margin: 0; 
            margin-top: 35px;
            justify-content: center;
            width: 100%;
            align-items: center;
        }
    }

    .contenedor-skills{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .skills-lenguajes{
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .footer-h3{
        text-align: center;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .div-img-footer{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-top: 0;
        align-items: center;
        justify-content: center;
    }

    .footer-social{
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0;
        padding-top: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
}

@media (max-width:480px){

    body, html {
        overflow-x: hidden; 
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lista-nav, nav {
        display: none;
    }

    .header{
        width: 100%;
        margin: 0;
        padding: 0px 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-about {
        width: 100%;
        padding: 0 20px; 
    }

    .about {
        margin: 50px 0; 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
    }

    .container-about {
        width: 100%;
    }

    .container-h2 {
        margin: 0;
        width: 100%;
    }

    .about-h2 {
        font-size: 48px; 
        margin-bottom: 10px; 
    }

    .container-p-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 0 0;
        padding: 0; 
        width: 100%;
    }

    .about-p {
        font-size: 16px; 
        margin-bottom: 10px; 
    }

    .buttonDescargar {
        margin: 20px 20px 20px 0px;
        padding: 10px 15px; 
        display: inline-block; 
        text-decoration: none; 
    }

    .skills-container {
        width: 100%;
    }

    .skills-p{
        margin: 0;
        text-align: center;
        display: flex;
        width: 100%;
        font-size: 16px;
    }

    .portfolio-container{
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: column;
        justify-content: center;
    }



}


@media (max-width: 320px) {

    body, html {
        overflow-x: hidden; 
    }

    .lista-nav, nav {
        display: none;
    }

    .a-img {
        margin: 0;
        width: 50px; 
    }

    header {
        display: flex;
        align-items: center;
        justify-content: flex-start; 
        padding: 10px 20px;
    }

    .hero {
        background-image: none;
        background-color: #333238;
        justify-content: center;
        padding: 20px 0; 
        width: 100%;
    }

    .hero-content {
        margin: 0;
        transform: translateY(0);
        text-align: center;
        width: 100%;
    }

    .h1-hero {
        margin: 0;
        font-size: 24px; 
    }

    .h2-hero {
        margin: 10px 0;
        font-size: 18px; 
    }

    .button-contactame {
        margin: 20px 0;
        padding: 10px 15px; 
    }

    .contenedor-about {
        width: 100%;
        padding: 0 20px; 
    }

    .about {
        margin: 50px 0; 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .container-about {
        width: 100%;
    }

    .container-h2 {
        margin: 0;
        width: 100%;
    }

    .about-h2 {
        font-size: 24px; 
        margin-bottom: 10px; 
    }

    .container-p-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0; 
        width: 100%;
    }

    .about-p {
        font-size: 16px; 
        margin-bottom: 10px; 
    }

    .buttonDescargar {
        margin: 20px 20px 20px 0px;
        padding: 10px 15px; 
        display: inline-block; 
        text-decoration: none; 
    }

    .skills-container {
        padding: 20px; 
        width: 100%;
    }

    .skills-h2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: center;
        font-size: 24px; 
    }
    
    .skills-container-focus {
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    
    .skills-focus{
        flex-direction: column;
        align-items: center;
        margin: 0;
        text-align: center;
        justify-content: center;
    }
    
    .skills-p {
        font-size: 16px; 
        margin: 0; 
    }
    
    .s-l-p {
        height: 20px; 
    }
    
    .pp {
        font-size: 12px; 
    }

    .portfolio {
        margin: 50px 0; 
        width: 100%;
    }

    .portfolio-h2 {
        text-align: center;
        font-size: 24px; 
    }

    .portfolio-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .div-img {
        max-width: 90%; 
        height: auto;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .footer-h3 {
        text-align: center;
        font-size: 18px; 
    }

    .button-contactame-footer {
        margin: 10px 0;
        padding: 10px 15px; 
    }

    .contenedor-footer-1, .footer-social {
        text-align: center;
    }

    .p-footer {
        font-size: 14px; 
    }

    .img-footer {
        width: 15px; 
    }
}

}